body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    overflow-y: visible; /* Prevent horizontal scrolling */
}

h1 {
    color: rgb(61, 64, 60);
    font-size: 51px;
    font-weight: lighter;
    position: relative;
    top: 60px;
    left: 300px;
    font-family: Stringer, "Times New Roman", sans-serif;
}

/* Boxes Container */
.boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 boxes per row */
    column-gap: 40px; /* Space between boxes */
    row-gap: 120px;
    padding: 20px;
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto;
    position: relative;
    top: 40px;
    left: 10px;
}

.box {
    background-color: #e8e8e3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 420px;
    overflow: visible;
}

.box-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: lighter;
    background-color: #cfcfcf;
    padding: 6px;
    border-radius: 16px;
    font-family: "Geist Mono", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    color: rgb(79, 86, 77);
}

.box-image {
    max-width: 100%;
    max-height: 80%; /* Adjust as needed */
    object-fit: cover;
    border-radius: 16px;
    position: relative;
    top: 50px;
}

.box-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.box-text-1a {
    text-align: left;
    margin-top: 10px;
    color: rgb(61, 64, 60);
    font-size: 16px;
    position: relative;
    top: 90px;
    right: 180px;
    font-size: 20px;
    font-family: Geist, Arial, sans-serif;
    font-weight: 700;
}

.box-text-1b{
    font-family: Geist, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 65px;
    right: 178px;
    color: rgb(61, 64, 60);
    align-items: start;
    text-align: left;
}

.box-text-2a {
    text-align: left;
    margin-top: 10px;
    color: rgb(61, 64, 60);
    font-size: 16px;
    position: relative;
    top: 90px;
    right: 190px;
    font-size: 20px;
    font-family: Geist, Arial, sans-serif;
    font-weight: 700;
}

.box-text-2b{
    font-family: Geist, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 65px;
    right: 172px;
    color: rgb(61, 64, 60);
    align-items: start;
    text-align: left;
    padding-bottom: 50px; 
}


/* Dark Mode */

.dark-mode {
    background-color: #191919;
} 

.dark-mode h1 {
    color: #ffffff;
}

.dark-mode .box {
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .box-title {
    background-color: #333;
    color: #ffffff;
}

.dark-mode .box-text-1a, .dark-mode .box-text-1b, .dark-mode .box-text-2a, .dark-mode .box-text-2b {
    color: #ffffff;
}