@import url('https://unpkg.com/leaflet/dist/leaflet.css');

/* root styles */
* {
    font-family: Geist, Arial, sans-serif;
  }





body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: Arial, sans-serif;
  }
  
  .home-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: repeat(4, 1fr); 
    gap: 30px;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
 
  
  .block {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* add a curve to the edges */
    border-radius: 16px;
    position: relative; 
  }
  
  .dark-mode .home-page{
    background-color: #1f1f1f;
  }
  
  .dark-mode .block {
    background-color: #121212;
    color: white;

  }
  
  .dark-mode .block-profile {
    background-color: #121212;
    color: white;
  }

  .dark-mode .profile-1st-container h4 {
    color: white;
  }
  .dark-mode .profile-1st-container h6 {
    color: white;
  }

  .dark-mode .profile-description {
    color: white;
  }

  .dark-mode .block-job-status {
    background-color: #121212;
    color: white;
  }

  .dark-mode .job-status h6 {
    color: white;
  }

  .dark-mode .job-status h7 {
    color: white;
  }

  .dark-mode .block-projects-fun {
    background-color: #121212;
    color: white;
  }
  .dark-mode .block-projects-fun h4 {
    color: white;
  }

  .dark-mode .block-achievements {
    background-color: #121212;
    color: white;
  }

  .dark-mode .block-skills {
    background-color: #121212;
    color: white;
  }

  .dark-mode .block-game{
    background-color: #121212;
    color: white;
  }
  
  .dark-mode .block-modes {
    background-color: #121212;
    color: white;
  }

  .dark-mode .mode-toggle {
    background-color: #191919;
  }

  .dark-mode .block-mode:hover{
    background-color: #121212;
  }

  .dark-mode .resume-button button{
    width: 100%;
    height: 100%;
    background-color: #272727;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .dark-mode .resume-button button:hover {
    background-color: #000000;
  }

  .dark-mode .block-social-icons {
    background-color: #1f1f1f00;
  }
  
  /*----------------------------------------First Column----------------------------------------*/
  
  /* A flex column for the first column */
  .first-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
  }
  
  /*--------------------------------------*\
                  Profile
  \*--------------------------------------*/

  .block-profile {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    position: relative; 
    min-height: 160px;
  }

  .profile-1st-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100px; 
    width: auto; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    overflow: hidden;
  } 

  .profile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 20%;
    position: relative;
  }

  .profile-icon {
    position: absolute; 
    top: 23px; 
    left: 25px; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-icon img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  .profile-name h4{
    font-weight: bold;
    color: #272727;
    font-size: 15px;
    top: 7px;
    left: 75px;
    position: relative;
  }

  .profile-name h6{
    font-weight: bold;
    color: #616161;
    font-size: 12px;
    bottom: 20px;
    left: 51px;
    position: relative;
  }

  .profile-description{
    font-weight: bold;
    color: #616161;
    font-size: 11px;
    bottom: 10px;
    left: 10px;
    position: relative;
    text-align: start;
  }

  

  .profile-linkedin-icon{
    position: absolute;
    top: 26px;
    right: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-linkedin-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  /* at the bottom of the first block */
  .profile-2nd-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .Github-Icon{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Github-Icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .resume-button{
    position: absolute;
    top: 38px;
    right: 34px;
    width: 240px;
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resume-button button{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .resume-button button:hover {
    background-color: #1f1f1f;
  }
  
  /*--------------------------------------*\
                  Job Status
  \*--------------------------------------*/

  .block-job-status {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* add a curve to the edges */
    border-radius: 16px;
    position: relative;
    height: 120px;
  }


  .job-status {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 15%;
    width: 300px;
  }

  .job-status h4 {
    position: relative;
    top: -100px;
    left: 2px;
    font-weight: bold;
    font-size: 31px;
    background: linear-gradient(45deg, #0090E1, #05BCB1);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    width: fit-content;
  }
  
  .job-status h6 {
    position: relative;
    bottom: 70px;
    left: -5px;
    font-weight: bold;
    font-size: 15px;
    color: #616161;
    font-weight: lighter;
  }

  .job-status h7 {
    position: relative;
    bottom: 130px;
    left: -5px;
    font-weight: bold;
    font-size: 13px;
    color: #616161;                                                                             
    font-weight: lighter;
  }

  /*--------------------------------------*\
          Projects & Fun Facts
  \*--------------------------------------*/

  .block-projects-fun {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    min-width: 46.5%;
    max-width: 100%; 
    height: 200px; 
    max-height: 50vh; 
    box-sizing: border-box; 
    flex: 1;
    text-decoration: none;
  }
  .block-projects-fun .projects-funfacts-icon img {
    cursor: pointer;
  }

  .block-projects-fun h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4b4b4b;
    position: relative;
    z-index: 2; 
    transition: transform 0.3s ease;
    position: relative;
    top: 38px;
  }
  
  

  .projects-fun-container {
    display: flex;
    flex-direction: row;
    gap: 7%;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  
  .projects, .fun-facts {
    flex: 1 1 40%;
  }

  .projects {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 210px;
  }
  
  .projects-funfacts-icon{
    position: absolute;
    /* position in the center of the block */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  
  .projects-funfacts-icon img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
  }

  .projects-funfacts-icon img:hover {
    transform: scale(1.2); 
  }

  .fun-facts {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 210px;
  }
  

  /*--------------------------------------*\
                  Achievements
  \*--------------------------------------*/
  .achievements {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 130px;
  }

  .block-achievements {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* add a curve to the edges */
    border-radius: 16px;
    position: relative; 
    top: 20px;
  }
  
  .achievements h4 {
    font-weight: 500;
    right: 120px;   
    top: 0px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
    font-size: 13px;
    
  }

  .achievements p {
    font-weight: light;
    position: relative;
    z-index: 2; 
    transition: transform 0.3s ease;
    max-width: 280px;
    font-size: 13px;
    top: 10px;
    left: 5px;
    text-align: start;
  }
  
  
  /*----------------------------------------Second Column----------------------------------------*/
  /* A flex column for the second column */
  .second-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 2 / 3;
    grid-row: 1 / 6;
  }
  
  /*--------------------------------------*\
                  Updates
  \*--------------------------------------*/
  
  .updates {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 70px;
  }
  

  .block-updates {
    background: linear-gradient(70deg, #008DDD, #622ABD);
    background-size: 200% 200%; /* Ensure smooth animation */
    background-clip: background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    position: relative;
    min-height: 90px;
    overflow: hidden; 
    animation: backgroundToggle 40s ease infinite; 
    animation-delay: 6s; 
    position: relative;
 }
  
  /* Keyframes for toggling between gradient and static background */
  @keyframes backgroundToggle {
    0%, 20% {
      background: linear-gradient(70deg, #008DDD, #622ABD);
      background-size: 200% 200%;
    }
    25%, 45% {
      background: linear-gradient(70deg, #008DDD, #622ABD);
      background-size: 200% 200%;
    }
    50%, 70% {
      background: linear-gradient(70deg, #008DDD, #622ABD);
      background-size: 200% 200%;
    }
    75%, 95% {
      background: linear-gradient(70deg, #008DDD, #622ABD);
      background-size: 200% 200%;
    }
    100% {
      background: linear-gradient(70deg, #008DDD, #622ABD);
      background-size: 200% 200%;
    }
  }
  
  /* Animation for the gradient background */
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .block-updates::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(70deg, rgba(0, 141, 221, 0.5), rgba(98, 42, 189, 0.5));
    transform: rotate(45deg);
    animation: rotateLine 20s linear infinite;
    z-index: 1; 
  }
  
  /* Animation for the rotating line */
  @keyframes rotateLine {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .block-updates h5 {
    font-weight: bold;
    font-size: 20px;
    color: #dadada;
    position: relative;
    z-index: 2; 
    transition: transform 0.3s ease;
  }
  
  .block-updates h5::before {
    content: "http://";
    position: absolute;
    left: -100px;
    opacity: 0;
    transition: left 0.3s ease, opacity 0.3s ease;
    color: white;
  }
  
  .block-updates h5 span {
    transition: opacity 0.1s ease;
  }
  
  .block-updates h5:hover {
    transform: translateX(80px);
    color: rgb(255, 255, 255);
  }
  
  .block-updates h5:hover::before {
    left: 0;
    opacity: 1;
    color: #dadada;
  }
  
  .block-updates h5 span:first-child {
    opacity: 1;
  }
  
  .block-updates h5 span:last-child {
    opacity: 0;
    position: absolute;
    left: 80px;
    display: flex;
    align-items: center;
  }
  
  .block-updates h5:hover span:first-child {
    opacity: 0;
  }
  
  .block-updates h5:hover span:last-child {
    opacity: 1;
  }
  
  
  
  
    
  
  /*--------------------------------------*\
                  Main Content
  \*--------------------------------------*/

/* Ensure the .main-content block has a defined height */
.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  height: 100%; 
  position: relative;
}

/* Ensure the .block-main-content covers the entire area */
.block-main-content {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  border-radius: 16px;
  position: relative;
  height: 100%; 
}

/* Ensure the .carousel-container fills its parent */
.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}


/* Individual carousel image */
.carousel-image {
  min-width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: 16px;
}

/* Current image */
.carousel-image.current {
  opacity: 1;
  animation: none; 
}

/* Image entering */
.carousel-image.entering {
  animation: slideIn 0.5s forwards;
}

/* Image exiting */
.carousel-image.exiting {
  animation: slideOut 0.5s forwards;
}

/* Container for dot navigation */
.carousel-dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 5px; /* Padding around dots */
  
  /* Box around all dots */
  border-radius: 20px; 
  background-color: #4b4b4b6c;
}

/* Dot navigation */
.carousel-dots {
  display: flex;
}

/* Individual dot */
.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

/* Active dot */
.dot.active {
  background-color: #008ddd; 
  
  
  transform: scale(1.2);
}



/* Keyframes for sliding in effect */
@keyframes slideIn {
  0% {
    /* Initial tiny and off-screen position */
    transform: scale(0.8) translateX(var(--slide-in-start));
    opacity: 0;
  }
  100% {
    /* Final position and size */
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding out effect */
@keyframes slideOut {
  0% {
    /* Initial position and size */
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  100% {
    /* Off-screen position and smaller size */
    transform: scale(0.8) translateX(var(--slide-out-end));
    opacity: 0;
  }
}

/* Apply custom easing to animation */
.carousel-image.entering {
  animation: slideIn 0.9s cubic-bezier(0.6, 0, 0.58, 1) forwards; 
}

.carousel-image.exiting {
  animation: slideOut 0.9s cubic-bezier(0.6, 0, 0.58, 1) forwards; 
}

.carousel-image.entering,
.carousel-image.exiting {
  animation-fill-mode: forwards;
}


  /*--------------------------------------*\
                  Social & Fun Fact
  \*--------------------------------------*/

.social-game-container {
  display: flex;
  justify-content: center;
  height: 150px;
}

.block-social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; 
  gap: 20px; 
  padding: 10px;
  position: relative;
  top: 7px;
  left: 15px;
}

.skill-icon {
  width: 40px; 
  height: 40px; 
  object-fit: cover; 
  transition: transform 0.2s ease; 
}

.skill-icon:hover {
  transform: scale(1.3); 
}
  
/* Button styles */
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000000, #fff);
  padding: 0;
  text-transform: uppercase;
  border-radius: 16px;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
  border: 2px solid transparent; 
  transition: color 0.2s ease, border-color 0.2s ease;
  z-index: 2; 
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
  z-index: -1; 
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1; 
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}

/* Color transition after hover */
.btn-12:hover {
  color: #000;
  border-color: #000;
}









  
  
  /*----------------------------------------Third Column----------------------------------------*/
  
  /* A flex column for the 3rd column */
  .third-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 3 / 4;
    grid-row: 1 / 6;
  }
  /*--------------------------------------*\
                  Map & Weather
  \*--------------------------------------*/

  .map {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 100px;
    width: 100%;
  }
  .block-map {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    position: relative;
    height: 300px; 
    width: 89.5%;
    overflow: hidden; 
  }
  
  .map-component {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    transform-origin: center;
    image-rendering: -webkit-optimize-contrast; 
  }
  
  /* Hide the attribution text */
  .leaflet-control-attribution {
    display: none !important;
  }

  /* Hide the zoom controls */
  .leaflet-control-zoom {
    display: none !important;
  }

 


  
  .game {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    height: 8%;
  }
  
  .block-game {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    position: relative; 
    height: 30px;
    width: 89.5%;
  }
  
  
  
  
  
  
  /*--------------------------------------*\
                  Pics
  \*--------------------------------------*/
  .pics-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  
  .pic, .another-pic {
    flex: 1 1 40%;
    
  }

  .block-pic {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0; 
    border-radius: 16px;
    position: relative; 
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

.block-pic img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 16px; 
    position: absolute; 
    top: 0; 
    left: 0; 
}
.block-another-pic {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0; 
  border-radius: 16px;
  position: relative; 
  height: 200px;
  width: 48%;
  overflow: hidden; 
}
  




@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  

  
  .another-pic {
    height: 260px;
  }
  
  /*--------------------------------------*\
              Modes
\*--------------------------------------*/

.modes {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  height: 50px;
}

.block-modes {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  position: relative; 
  height: 60px;
  width: 340px; 
  border: 2px solid #ccc; 
}

.mode-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mode-icon:hover {
  transform: scale(1.3);
}

.mode-toggle {
  position: absolute;
  width: 50%; 
  height: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  transition: all 0.3s ease;
  z-index: 1;
}

.mode-toggle.light-mode {
  left: 0;
}

.mode-toggle.dark-mode {
  left: 50%;
}

.mode-icon {
  z-index: 2;
}

.active {
  opacity: 1;
}

.mode-icon:not(.active) {
  opacity: 0.5;
}

.block-modes:hover {
  background-color: #e9e9e9;
  transition: background-color 0.5s ease;
}

/* If using CSS variables for easier maintenance */
:root {
  --bg-light-hover: #e9e9e9;
  --bg-dark-hover: #222222;
}

.block-modes:hover {
  background-color: var(--bg-light-hover);
}

.dark-mode .block-modes:hover {
  background-color: var(--bg-dark-hover);
}

  
  

  
  /*--------------------------------------*\
                Media Queries
  \*--------------------------------------*/

  @media (min-height: 910px) {
    .block-projects-fun {
      min-height: 30vh;
    }
    .block-another-pic, .block-pic{
      min-height: 30vh;
    }
    .block-achievements{
      min-height: 0vh;
      top: -0px;
    }
    
  }
  
  @media (max-width: 800px) {
    .block-projects-fun {
      max-height: 40vh; 
    }
  }
  
  @media (max-width: 500px) {
    .block-projects-fun {
      max-height: 20vh; 
    }

  }
  /* Adjust height based on viewport height */
  @media (max-height: 932px) {
    .block-projects-fun {
      max-height: 1vh; 
    }

    .projects, .fun-facts {
      min-height: 10px; 
    }
  }


 
